@import url(
    'https://fonts.cdnfonts.com/css/led-digital-7'
    );
* {
    margin: 0;
}
.container {
    background-color: aquamarine;
    width: 30%;
    height: 50%;
    border: 0px solid black;
    border-radius: 10px;
    min-height: 277px;
}
.child {
    background-color: gray;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: 0 solid black;
    border-radius: 10px;
    min-height: 277px;
}
.screen {
    margin: 2px 8px 2px;
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 200%;
    font-family: 'LED Digital 7', sans-serif;
}
.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 78%;
}
.botao {
    font-weight: bold;
    font-size: 150%;
    margin-top: 2%;
    background-color: white;
    border: 0px solid black;
    width: 21%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.botao:hover {
    background-color: rgb(56, 56, 56);
}
.botao:active {
    background-color: rgb(28, 28, 29);
}
.botao {
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none;  
  } 